html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight:500;
    height:800;
    width:500;
    background-color: cyan;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    row-gap: 50px;
}

header{
    display:inline-flex;
    justify-content: end;
    background-color: mediumspringgreen;
    padding: 10px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

h1{
    grid-row-start: 1;
    grid-row-end:span 1;
    font-size:48px;
    font-weight:700;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

p{
    font-size: 24px;
    font-weight: 300;
}

a{
    text-decoration: underline;
    color: blue;
}

img{
    height:50px;
    width: 50px;
}

.postsql img{
    height: 50px;
    width: 50px;
}

.icons{
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
}

.icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    grid-row-start: 2;
    grid-row-end:span 1;
}
.skills {
    grid-row-start: 3;
    grid-row-end:span 1;
    align-items: center;
}

.projects{
    background-color: limegreen;
    grid-row-start:4;
    grid-row-end: span 1;
}

.secondButton{
    display: none;
}

.secondButton button{
    margin-top: 20px;
}

.thirdButton{
    display: none;
}

.thirdButton p{
    display:none;
    margin-top: 20px;
}

.thirdButton button{
    margin-top: 20px;
}

.contact{
    grid-row-start:5;
    grid-row-end: span 1;
}

@media only screen and (max-width: 480px){
    html {
        font-size: 14px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: row;
        align-items:flex-end;
        padding:10px;
        gap: 10px;
    }
    .icons {
        flex-direction: column;
        align-items: center;
    }
    .about, .skills, .projects, .contact {
        grid-row-start: auto;
        grid-row-end: auto;
    }
}
